@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');
*{
    font-family: 'Montserrat';
}
.navbar{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: absolute;
    width: 100vw;
}
.options{
    width:300px ;
    font-family: 'Roboto';
    color: white;
    background-color: transparent;
    border: 0px;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}
h1{
    font-family: 'Roboto';
    margin: 0;
}
h1,h2,h3,body{
    margin: 0;
}

h2{
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 40px;
}
h3{
    color: white;
    font-family: 'Montserrat';
     font-size: 36px;
}
.principal_title{
    font-size: 64px;
    color:white
}
img{
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    object-fit: cover;
}
.content_wrap{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
    width: 100vw;
}
.title_container{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
